<h2>all products</h2>

<%= link_to "Add a product", new_product_path(@product) %>

<br><br>

<ul>
  <% @products.each do |product|  %>
    <li>
      <span id="prod-name"> <%= link_to product.name, product_path(product) %></span> |
      <%= link_to "Edit", edit_product_path(product) %> |
      <%= link_to "Delete", product_path(product),
                               :data => {:confirm => "You sure?",
                                         :method => "delete"} %></p>
    </li>
  <% end %>
</ul>
