<!DOCTYPE html>
<html>
  <head>
    <title>RossmannComputerParts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="news">

    <header>
      <div class="nav">
        <ul>
          <li class="home"><a href="#">Home</a></li>
          <li class="admin"><a href="#">Admin</a></li>
          <!-- <li class="admin"><a class="active" href="#">Tutorials</a></li> -->
        </ul>
      </div>
    </header>

    <div class="banner">
      <h1>Rossman Computer Parts</h1>
    </div>

    <%= yield %>

  </body>

</html>
